{% extends "layout.html"%}
{% block body%}
<title>SkrzatCompany - Strona główna</title>
<h1>Witamy w serwisie SkrzatCompany!</h1>
<h2>Poczuj się jak prawdziwy astronauta!</h2>
<p>Na tej stronie znajdziesz odnośniki do oddziałów naszej firmy, 
rozproszonej po części Układu Słonecznego. Oddziały te znajdują się na Ziemi,
Księżycu i na Marsie.
Prosimy kliknąć w jeden z linków poniżej, jeśli należysz do któregoś z oddziałów:</p>
<ul>
    <li><a href="/ziemia">Ziemia</a></li>
	<li><a href="/ksiezyc">Księżyc</a></li>
	<li><a href="/mars">Mars</a></li>
</ul>
<p>W razie problemów prosimy skontaktować się z administracją na podany adres:
<i>xyz@skrzatcompany.pl</i>. Dziękujemy.</p>
{% endblock %}